<section>
  <h2>Sujestão</h2>
  <p>Deixe aqui sua sujestões</p>
  <p>Requisitos: Não poderá haver duplicatas</p>

  <form class="form-inline" [formGroup]="suggestionForm" (submit)="createProduct()" >
    <div class="form-group mx-sm-4 mb-2 w-75" >
      <input class="form-control" placeholder="search..." formControlName="text">
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
  </form>

  <h3>Sugestões</h3>
  <article
    class="my-2"
    *ngFor="let product of products; let index = index"
  >
    <p>{{product}}</p>
    <button class="btn btn-danger" (click)="deleteProduct(product)">Deletar</button>
  </article>

</section>
